prod_sync/VAV.Scheduler/Service References/TRACS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="TRACS.ThomsonReuters.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FixedIncomeAnalytics" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="FixedIncomeAnalyticsEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="TRACS.ThomsonReuters.com" location="" />
  <wsdl:types />
  <wsdl:binding name="FixedIncomeAnalyticsEndpoint" type="i0:IFixedIncomeAnalytics">
    <wsp:PolicyReference URI="#FixedIncomeAnalyticsEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestService">
      <soap12:operation soapAction="TRACS.ThomsonReuters.com/IFixedIncomeAnalytics/TestService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BondDealMonitor">
      <soap12:operation soapAction="TRACS.ThomsonReuters.com/IFixedIncomeAnalytics/BondDealMonitor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CDSMonitor">
      <soap12:operation soapAction="TRACS.ThomsonReuters.com/IFixedIncomeAnalytics/CDSMonitor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CDSMonitor2">
      <soap12:operation soapAction="TRACS.ThomsonReuters.com/IFixedIncomeAnalytics/CDSMonitor2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDSIConstituents">
      <soap12:operation soapAction="TRACS.ThomsonReuters.com/IFixedIncomeAnalytics/GetCDSIConstituents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCDSIConstituentsCache">
      <soap12:operation soapAction="TRACS.ThomsonReuters.com/IFixedIncomeAnalytics/UpdateCDSIConstituentsCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LunaPricer">
      <soap12:operation soapAction="TRACS.ThomsonReuters.com/IFixedIncomeAnalytics/LunaPricer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralLunaPricer">
      <soap12:operation soapAction="TRACS.ThomsonReuters.com/IFixedIncomeAnalytics/GeneralLunaPricer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZeroCurves">
      <soap12:operation soapAction="TRACS.ThomsonReuters.com/IFixedIncomeAnalytics/GetZeroCurves" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Version">
      <soap12:operation soapAction="TRACS.ThomsonReuters.com/IFixedIncomeAnalytics/Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FixedIncomeAnalytics">
    <wsdl:port name="FixedIncomeAnalyticsEndpoint" binding="tns:FixedIncomeAnalyticsEndpoint">
      <soap12:address location="http://tracsdev207.tracs.local/TRACSweb/FixedIncomeAnalytics.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://tracsdev207.tracs.local/TRACSweb/FixedIncomeAnalytics.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>